@model IEnumerable<Library.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do autor
            </th>
            <th>
                Idade
            </th>
            <th>
                CPF
            </th>
            <th>
                Data de nascimento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalhes</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
